<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demo Web</title>
        <style>
            html,body{
                height:100%;
            }
        </style>
    </head>
    <body>
        <div class="row h-100 align-items-center">
            <div style="margin-left:330px;background-color:white;margin-top:15px;padding:20px" class="col-md-6 offset-md-3">
                <h4><a href="/">Home</a></h4>
                <h4><a href="/product">Product</a></h4>
                {{{body}}}
                <p>Copyright &copy; 2021 by Le Do Quang Sang</p>
            </div>
        </div>
    </body>
</html>