<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demo Web</title>
        <style>
            html,body{
                height:100%;
            }
        </style>
    </head>
    <body>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product">Product</a>
    </li>
  </ul>
                {{{body}}}
                <p>Copyright &copy; 2021 by Le Do Quang Sang</p>
    </body>
</html>