<div class="container">
    <img src="https://nodejs.org/static/images/logo.svg" style="width: 18rem";>
    <p>This website is made by using NodeJS, Express and MongoDB</p>
    <p>Created by <a href="https://fb.com/itsrealldqs/">Le Do Quang Sang</a></p>
</div>